#%RAML 1.0
---
title: Melloria API
#baseUri: http://api.melloria.com/{version}
baseUri: / 
version: v1

/creature_names:
  get:
    description: Retrieve a specific Creature by Name
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {
                "creature_name": "Gargoyle"
                },
                "success": true,
                "status": 200
              }
#    queryParameters:
#      magic_type:
#        displayName: Magic Type
#        type: string
#        description: The main type of magic used by the creature
#        example: Earth
#        required: false
#      creature_type:
#        displayName: Creature Type
#        type: string
#        description: The variety of creature
#        example: Elemental
#        required: false
#      creature_name:
#        displayName: Magic Type
#        type: string
#        description: The name of the creature
#        example: Gargoyle
#        required: false
/creature:
  put:
    description: |
      Enters or updates a creature.
    queryParameters:
      magic_type:
        displayName: Magic Type
        type: string
        description: The main type of magic used by the creature
        example: Earth
        required: true
      creature_type:
        displayName: Creature Type
        type: string
        description: The variety of creature
        example: Elemental
        required: true
      creature_name:
        displayName: Creature Name
        type: string
        description: The name of the creature
        example: Gargoyle
        required: true
      creature_HP:
        displayName: Hit Points
        type: number
        description: The amount of damage the creature can take.
        example: 40
        required: true
      creature_attack:
        displayName: Attack
        type: number
        description: The creature's attack strength.
        example: 5
        required: true
      creature_defense:
        displayName: Defense
        type: number
        description: The creatures defensive rating.
        example: 15
        required: true
      creature_MP:
        displayName: Magic points
        type: number
        description: The Magical power of the creature.
        example: 15
        required: true
      creature_speed:
        displayName: Speed
        type: number
        description: The speed stat of the creature.
        example: 4
        required: true
      creature_notes:
        displayName: Notes
        type: string
        description: The notes about the creature
        example: "A extremely tough grey bipedal creature with: rock-like skin and claws, bat like wings. It is also able to morph into stone when stationary."
        required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {
                "magic_type": "Earth",
                "creature_type": "Elemental",
                "creature_name": "Gargoyle",
                "creature_HP": 40,
                "creature_attack": 5,
                "creature_defense": 15,
                "creature_MP": 15,
                "creature_speed": 4,
                "creature_notes": "A extremely tough grey bipedal creature with: rock-like skin and claws, bat like wings. It is also able to morph into stone when stationary."
                #"link": "http://api.melloria.com/creature/Gargoyle"
                },
                "success": true,
                "status": 200
              }     
  get:
    description: Retrieve a specific Creature by Name
    queryParameters:
      creature_name:
        displayName: Creature Name
        type: string
        description: The name of the creature
        example: Gargoyle
        required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {
                "magic_type": "Earth",
                "creature_type": "Elemental",
                "creature_name": "Gargoyle",
                "creature_HP": 40,
                "creature_attack": 5,
                "creature_defense": 15,
                "creature_MP": 15,
                "creature_speed": 4,
                "creature_notes": "A extremely tough grey bipedal creature with: rock-like skin and claws, bat like wings. It is also able to morph into stone when stationary."
                #"link": "http://api.melloria.com/creature/Gargoyle"
                },
                "success": true,
                "status": 200
              }
  delete:
    description: Delete a specific Creature by Name
    queryParameters:
      creature_name:
        displayName: Creature Name
        type: string
        description: The name of the creature
        example: Gargoyle
        required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {
                1
                },
                "success": true,
                "status": 200
              }
  /{magic_type}:
  /{creature_type}: